
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    byte tipo = ViewBag.Tipo;
    List<Experiencia> experiencias = ViewBag.Experiencias;
}

<div id="experiencia" class="page">

    <h1 class="page-header remove-margin">
        <a class="btn btn-primary pull-right" href="~/admin/experiencia/crud?tipo=@tipo">Agregar</a>
        @ViewBag.Title
    </h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Cargo</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in experiencias)
            {
                <tr>
                    <td>
                        <a href="~/admin/experiencia/crud?tipo=@item.Tipo&id=@item.id">@item.Nombre</a>
                    </td>
                    <td>@item.Titulo</td>
                    <td>@item.Desde</td>
                    <td>@item.Hasta</td>
                    <td>
                        <bxutton  onclick="Eliminar(@item.Tipo, @item.id)" class="btn btn-danger">Eliminar</bxutton>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function Eliminar(tipo, id) {
        if (confirm("Delea eliminar el registro?") == true) {
                var url ='/admin/experiencia/eliminar?tipo=' + tipo + '&id=' + id
            $.post(url, function (r) {
                if (r.response) {
                    window.location.href = r.href;
                }
            },"json");
        }
        else {
            return false
        }
    }
</script>

